article > header{
	text-align: center;

}

article > div{

	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #f7f7f7;
	box-shadow: 5px 5px 5px #f7f7f7; 
	border-radius: 10px;

}

div > header{
	text-align: center;
}

h3{
	font-size: 1.5em;
	color: #91bdff;
}

#pagination1 > p, #pagination2 >p{
	text-align: center;
	width: 20px;
	float: left;
	margin: 5px;
	color: black;
	border-bottom: solid 1px black;
}

#pagination1 > a, #pagination2 >a{
	text-align: center;
	width: 20px;
	float: left;
	margin: 5px; 
	border: solid 1px #0086a8; 
	background: #0086a8;
	color: white;
	border-radius: 4px;
}

article{
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px; 
}

body > footer {
	color: white;
	border-top: solid 1px;
	border-radius: 20px;
	background: #0086a8;
	margin-top: 20px;
}

#button{
	margin-top: 20px;
	border-radius: 10px;
	border: solid 1px white;
	color: white;
	background: #0086a8;
	box-shadow: 2px 2px 2px #dedfe0;
}

#header{
	background: url(image/headerAlaska.jpg);
	height: 200px;
	color: white;
	text-shadow: 2px 2px 2px #0086a8;
	font-size: 2.5em;
	text-align: center;
	box-shadow: 10px 10px 10px #0086a8;
	margin-bottom: 20px;
}

#billetFrontendPostList{
	font-size: 1.5em;
	margin-top: 20px;
	color: #91bdff;
}

footer > a {
	border: solid 1px #0086a8;
	border-radius: 10px;
	text-align: center;
	color: #0086a8;
	background: white;
	box-shadow: 2px 2px 2px #0086a8;
}

#comments{
	margin-bottom: 10px;
}

form#form{
	display: none;
	top: 50%;
	color: #0086a8;
	background: white;
	width: 250px;
	height: 200px;
	border: solid 1px #0086a8;
	border-radius: 10px; 
}

#formButton{
	border: solid 1px #0086a8;
	border-radius: 10px;
	text-align: center;
	color: #0086a8;
	background: white;
	box-shadow: 2px 2px 2px #0086a8;
}

#login, #password{
	border-radius: 5PX;
}

a#arrow{
	background: white;
	border: none;
	color: #0086a8;
}

/* we begin here for the comments frontend view*/
.returnPost{
	border: solid 1px #0086a8;
	border-radius: 10px;
	text-align: center;
	color: #0086a8;
	background: white;
	box-shadow: 2px 2px 2px #0086a8;
}

form#commentsForm{
	margin-top: 20px;
	border: solid 1px #0086a8;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #0086a8;
}

#submitComment{
	border: solid 1px #0086a8;
	border-radius: 10px;
	text-align: center;
	color: #0086a8;
	background: white;
	box-shadow: 2px 2px 2px #0086a8;
	margin-bottom: 10px;
}

textarea#content{
	width: 350px;
	border-radius: 10px;
}

@media screen and (max-width: 640px){
	textarea#content{
	width: 240px;
	}
}

input#author{
	border-radius: 10px;
}

form#commentsForm > label{
	color:#0086a8;
}

.billet{
	margin-top: 20px;
	color: #0086a8;
}

.commentH2{
	margin-top: 100px;
	color: #0086a8;
}

#comments{
	border: solid 1px #0086a8;
	border-radius: 10px;
}

#comments >div> p{
	margin-bottom: 0px;
}
#validationMsg{
	color: #a8ffb9;
}

#alertMsg{
	color: #f98989;
}

#commentDate{
	color: #f7ca27;
}

div#comments > div > a{
	text-align: right;
}

/* we begin here for the home backend view  */

#deconnection{
	bottom:20px;

}

.homeLinks{
	font-size: 2.5em;
	color: #0086a8;
	text-align: center;
	border: solid 1px #0086a8;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	line-height: 90px;
	box-shadow: 2px 2px 2px #0086a8;
}

.homeLinks:hover{
	text-decoration: none;
}

.homeTitle{
	color: #0086a8;
}